

.container {
    background-color: #EEF8F7 ;
}

button-hero {
padding: 0.9em 2.5em 0.9em;
border-radius: 1px;
margin: 8px;
border: none;
background-color: #ED5D34;
color: white;
font-weight: 800;
font-size: 2em;
text-transform: uppercase;
text-align: center;
transition: color 1s ease-in-out;
}
button-hero:hover {
background-color: transparent;
color: #ED5D34;
border: 1px solid #ED5D34;
cursor: pointer;
}

